:root {
	--black: rgb(35,31,32);
	--accent: rgb(17,110,171);
	--bg: rgb(226,221,214);
}

body {
	font-family: 'Libre Baskerville', serif;
	color: var(--black);
	margin: 0;
	background-color: var(--bg);
}

section, header, footer {
 padding-inline: 2rem;
}

.container {
	max-width: 800px;
	width: 100%;
  	margin-inline: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Uncial Antiqua', sans-serif;
}

h2 span {
	color: var(--accent);
}

h3 {
	color: var(--accent);
}

a {
	color: var(--accent);
	text-decoration: none;
}