---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

import { getCollection, getEntry } from 'astro:content';

const chapters = await getCollection('chapters');
chapters.sort((a, b) => a.data.number - b.data.number);


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- <Welcome /> -->

	<section>
		<div class="container">
			<h2>Chapters</h2>
			<ul>
				{chapters.map((chapter) => (
					<li>
						{chapter.data.number}. <a href={`/chapters/${chapter.data.slug}`}>{chapter.data.title}</a>
					</li>
				))}
			</ul>
		</div>
	</section>
</Layout>
