---
---
<footer>
   <div><strong>Pocket Dragon 2.0</strong>, criado por <strong>Antonio Sá Neto</strong> e <strong>Rafael Beltrame</strong>. Ilustrado por <strong>Carlos Castilho</strong>. Licenciado sob <strong><a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.pt-br">CC BY-NC-SA 4.0</a></strong>.</div>
   <div>Versão Mobile desenvolvida por <strong><a target="_blank" href="https://lucasfads.com/">Lucas Fads</a></strong>.</div>
</footer>
<style>
  footer {
	padding: 1rem;
	text-align: center;
  }
</style>