---
import logo from '../assets/pocket_dragon_logo.svg';
---

<header>
	<div class="container">
		<img class="logo" src={logo.src} alt="Pocket Dragon 2.0" />
	</div>
</header>

<style>
	header {
		padding-block: 1rem;
	}
	.logo {
		display: block;
		max-width: 160px;
		margin-inline: auto;
	}
</style>